@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f6f2;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background: #d9f99d;
  color: #0f172a;
}
